@model Gigger.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}


<ul class="showGigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
    <li>
        <div class="date">
            <div class="month">
                @gig.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @gig.DateTime.ToString("d ")
            </div>
            <div class="year">
                @gig.DateTime.ToString("yyyy")
            </div>
        </div>
        <div class="details">
            <span class="artist">
                @gig.Artist.Name
            </span>
            <span class="genre">
                @gig.Genre.Name
            </span>



            @if (Model.ShowActions)
            {
                if (Model.gigsLoggedUser.Contains(gig))
                {
                    <button disabled class="btn btn-sm btn-info btnDisabled">Going</button>
                }
                else
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm js-toggle-attendance">Going ?</button>
                }
            }

        </div>

        
    </li>
    }
</ul>

<script type="text/javascript">
    $(document).ready(function () {

        $(".js-toggle-attendance").click(function (e) {
            var button = $(e.target);
            $.post("api/attendances", { "": button.attr("data-gig-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function () {
                    alert("Something failed !");
                });
        });
    });
</script>